.new-blog-archive {
    @include flex(space-between, center, row, wrap);
    row-gap: 30px;
    column-gap: 5%;
    & .item-blog {
        position: relative;
        box-shadow: 0px 5px 13px #a6a6a685;
        & > div {
            position: absolute;
            bottom: 10px;
            right: 10px;
            max-width: 75%;
            background: #121212c8;
            & p {
                margin: 0;
                color: #fff;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: small;
                padding: 5px 10px;
            }
        }
        &:nth-child(1) {
            width: 45%;
            border-radius: 20px;

            & img {
                border-radius: 20px;
            }
        }
        &:nth-child(2) {
            width: 45%;
            border-radius: 20px;

            & img {
                border-radius: 20px;
            }
        }
        &:nth-child(3) {
            width: 20%;
            border-radius: 10px;

            & img {
                border-radius: 10px;
            }
        }
        &:nth-child(4) {
            width: 20%;
            border-radius: 10px;

            & img {
                border-radius: 10px;
            }
        }
        &:nth-child(5) {
            width: 20%;
            border-radius: 10px;

            & img {
                border-radius: 10px;
            }
        }
        &:nth-child(6) {
            width: 20%;
            border-radius: 10px;

            & img {
                border-radius: 10px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .new-blog-archive {
        @include flex(center, center, row, wrap);
        & .item-blog {
            &:nth-child(1) {
                width: 100%;
            }
            &:nth-child(2) {
                width: 100%;
            }
            &:nth-child(3) {
                width: 45%;
            }
            &:nth-child(4) {
                width: 45%;
            }
            &:nth-child(5) {
                width: 45%;
            }
            &:nth-child(6) {
                width: 45%;
            }
        }
    }
}
.archive-paginasion .paginasion {
    text-align: center;
}

.archive-paginasion .paginasion span {
    background-color: #274da6;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #274da6;
    color: #fff;
}

.archive-paginasion .paginasion a {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #1698d5;
    line-height: 28px;
    border-radius: 10px;
}
