.product-cart {
    max-width: 250px;
    margin: 0 auto;
    & .card {
        position: relative;
        & .off-label {
            & .title {
                background-color: red;
                width: 40px;
                height: 40px;
                position: absolute;
                border-radius: 50%;
                top: -5px;
                left: 10px;
                @include flex(center,center);
                & span {
                    color: white;
                    transform: rotate(-30deg);
                    display: block;
                    font-size: 10px;
                }
            }
        }
        & img {
            width: 250px;
            height: 300px;
            object-fit: contain;
        }

        & .card-body {
            position: relative;

            & h5 {
                color: $color-text-1;
                font-size: smaller;
                white-space: nowrap;
                overflow: hidden;
                padding: 0 10px;
                text-overflow: ellipsis;
            }
        }
        & .card-rate {
            position: absolute;
            bottom: 15px;
            left: 10px;
            font-size: 10px;
        }
        & .card-price {
            font-size: small;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
            & ins {
                text-decoration: none;
                font-weight: bold;
            }
            & del {
                font-size: smaller;
                text-decoration-color: red;
            }
        }

        & .card-btn {
            & a {
                padding: 15px 20px;
                border-radius: 10px;
                display: block;
                width: fit-content;
                background-color: $color-tertiary-1;
                color: $color-white;
                position: absolute;
                font-size: small;
                right: 5px;
                bottom: 10px;
            }
        }
    }
}
.product-cart-horizontal {
    width: 300px;
    min-height: 190px;
    max-height: 190px;
    & .card {
        @include flex(space-between, center, row);
        gap: 10px;
        width: 300px;
        min-height: 190px;
        max-height: 190px;
        & .image {
            width: 40%;
        }
        & .card-body {
            width: 60%;
            & h5 {
                color: $color-text-1;
                font-size: smaller;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-align: center;
                margin-bottom: 20px;
            }
            & .card-price {
                @include flex(center, center, column);
                gap: 5px;
                font-size: small;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 20px;
                & ins {
                    text-decoration: none;
                    font-weight: bold;
                }
                & del {
                    font-size: smaller;
                    text-decoration-color: red;
                }
            }

            & .card-btn {
                & a {
                    padding: 15px 10px;
                    display: block;
                    width: fit-content;
                    margin: 0 auto;
                    border-radius: 20px;
                    background-color: $color-tertiary-3;
                    color: $color-white;
                    font-size: small;
                }
            }
        }
    }
}
